body {
    /*font-family: 'Bebas Neue', cursive;*/
    margin: 1.5rem;
    background-color:rgb(250, 246, 215);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100vh;
}

.app{
    background-color:rgb(200, 209, 234);
    width: 300px;
    height: 500px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: 1.5rem;
    padding: 15px;
    overflow: scroll;
}

#addNew{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid red;
}

.fa-plus {
    background-color: silver;
    padding: 3px;
    border-radius: 3px;
    border: 3px solid purple;
}

#tasks {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#tasks div {
    border: 3px solid rgba(27, 45, 63, 0.933);
    background-color:rgb(200, 209, 234);
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

#tasks div .options i {
    cursor: pointer;
}
#msg {
    color: red;
}