body {
    font-family: 'Bebas Neue', cursive;
    margin: 1.5rem;
    background-color:rgb(250, 246, 215);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app{
    background-color:rgb(200, 209, 234);
    width: 300px;
    height: 500px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin: 1.5rem;
    padding: 15px;
    overflow: scroll;
}

#addNew{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
    background-color: silver;
    padding: 3px;
    border-radius: 3px;
}

#tasks {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#msg {
    color: red;
}